@{
  Layout = "_Layout";
}
    <h1>Welcome to the Music Organizer!</h1>
    <a href='/cd/new'>Add a new CD</a>
    <br>
    <a href='/cd'>See list of CDs</a>
    <br>
    <a href='/search'>Search tracks by artist</a>
